/* CSS Page for Gina's Art Portfolio Site */


/* Navbar CSS */
#blackfont {
    color: #430237;
}

#rightbarfont {
    color: #430237;
}


.dropdown-item {
  font-weight:bold;
  color: #000000;
}

.dropdown-item:hover {
  color: white !important;
  background-color: #FF99CC;
  border-radius: 10px;
  opacity: 100%;
}

.nav-link:hover {
    color: white !important;
    background-color: #FF99CC;
    border-radius: 10px;
}



/*Image Above Navbar*/
.above_navbar_image {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

/* Heading CSS */
.heading {
    padding-top: 100px;
}

.centertext {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #430237;
    font-family: 'Baloo Bhai 2', cursive;
}



/* Home Page Large Image CSS */
.front_page_image {
  margin: auto;
  display: block;
  width: 38%;
  border-radius: 10px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Body Content CSS */
.body {
  background-color: #FFFFFF;
}

.content {
  padding-top: 10px;
  padding-bottom: 10px;
}


/* Footer CSS */
.footerbar {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFFFFF;
}


/* About Me Page CSS: */

.aboutmepicture {
  display: inline-block;
  position: center;
}

.aboutmedescription {
  display: inline-block;
  color: purple;
  position: center;
}

.about_content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  
  
}

.navbar_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
}

.footer_copyright_text {
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
    display: inline-block;
    color: #430237;
}


